<h1 class="ui header"> TO DO Board</h1>
  <% @boards.each do |board| %>
  <ul>
  <li> <%= link_to board.name, board_path(board) %>
  <br />
  <%= link_to "Edit", edit_board_path(board) %>
  <%= link_to "Destroy", board_path(board), method: :delete %>
  </li>
  </ul>
  <% end %>
    
<hr />
<br />
<%= link_to "Add New Board", new_board_path %>
<br />